.form {
    width: 300px;
    margin: 20px auto;
}
.form-header {
    line-height: 50px;
    font-size: 16px;
    text-align: center;
}
.form-footer {
    line-height: 50px;
    text-align: center;
}
.form-item {
    line-height: 50px;
}
.form-item .label-name {
    display: inline-block;
    width: 70px;
}
.form-item input {
    width: 200px;
    height: 30px;
}